:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  direction:rtl;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}


@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
  h1 {
    @apply justify-center font-mono sm:mb-5 sm:text-4xl font-bold text-center sm:text-center  xs:text-[26px] xs:mb-4;
  }
}

@layer components {
.mail-input-login{
  @apply w-full text-left  sm:py-3 border border-gray-400 rounded-md placeholder:font-sans  sm:placeholder:font-light sm:w-11/12 xs:py-1  xs:placeholder:text-[12px] ;
} 
 .password-input-login{
  @apply flex-row-reverse  text-left w-full  sm:py-3 border border-gray-400 rounded-md placeholder:font-sans placeholder:font-light sm:w-11/12 xs:py-1;
}
} 

.global-container{
  @apply flex items-center justify-center  bg-bgLogRegFor  w-screen  h-screen;
}
.card-container{
  @apply flex flex-col h-fit w-9/12 sm:p-12 space-y-10  bg-white shadow-2xl rounded-2xl  md:flex-row   sm:flex-col-reverse  xs:flex-col-reverse xs:pt-4 xs:pb-10 ;
}
.right-side-container{
  @apply sm:flex flex-col justify-center  sm:w-full  xs:w-full xs:py-0 xs:px-8;
}
.message-forgot{
  @apply font-thin text-cyan-700 whitespace-nowrap sm:text-base xs:text-sm;
}
.button-register{
  @apply  w-full ml-4  md:w-auto  flex justify-center items-center sm:p-3  md:px-6  md:py-2 space-x-4 font-sans font-bold text-white rounded-md shadow-lg px-9 bg-cyan-700 shadow-cyan-100 hover:bg-opacity-90  hover:shadow-lg border transition   text-center  hover:-translate-y-0.5 duration-150 sm:w-5/6 xs:w-1/2 xs:px-0  xs:py-1 xs:text-center;
}
.button-login{
  @apply w-full md:w-auto flex justify-center items-center sm:p-3  md:px-6 md:py-2 space-x-4 font-sans font-bold text-white rounded-md shadow-lg px-9 bg-cyan-700 shadow-cyan-100 hover:bg-opacity-90  hover:shadow-lg border transition   text-center hover:-translate-y-0.5 duration-150 sm:w-5/6 xs:w-1/2 xs:px-0  xs:py-1 xs:text-center;
}
.left-side-container{
  @apply w-2/3 mr-10 ml-20 relative bottom-5 sm:mx-auto xs:mx-auto;
}
